<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Resilient</key>
	<true/>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>CFBundleVersion</key>
	<string>3.4.0</string>
	<key>CFBundleShortVersionString</key>
	<string>3.4.0</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>WiFi Map Explorer</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict/>
	<key>CFBundleIcons~ipad</key>
	<dict/>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSBonjourServices</key>
	<array>
		<string>_speedtestchargen._tcp</string>
		<string>_speedtestdiscard._tcp</string>
		<string>_speedtestapp._tcp</string>
		<string>_1password4._tcp</string>
		<string>_KeynoteControl._tcp</string>
		<string>_acp-sync._tcp.</string>
		<string>_adisk._tcp</string>
		<string>_afpovertcp._tcp</string>
		<string>_airdroid._tcp</string>
		<string>_airdrop._tcp</string>
		<string>_airplay._tcp</string>
		<string>_airport._tcp</string>
		<string>_amzn-wplay._tcp</string>
		<string>_androidtvremote._tcp</string>
		<string>_apple-mobdev._tcp</string>
		<string>_apple-mobdev2._tcp</string>
		<string>_apple-sasl._tcp</string>
		<string>_appletv-v2._tcp</string>
		<string>_arduino._tcp</string>
		<string>_atc._tcp</string>
		<string>_bcbonjour._tcp</string>
		<string>_bowtie._tcp</string>
		<string>_bttouch._tcp</string>
		<string>_bttremote._tcp</string>
		<string>_bp2p._tcp</string>
		<string>_cloud._tcp</string>
		<string>_companion-link._tcp</string>
		<string>_coremediamgr._tcp</string>
		<string>_csco-sb._tcp</string>
		<string>_daap._tcp</string>
		<string>_device-info._tcp</string>
		<string>_dhnap._tcp</string>
		<string>_distcc._tcp</string>
		<string>_dns-sd._tcp</string>
		<string>_fax-ipp._tcp</string>
		<string>_gamecenter._tcp</string>
		<string>_ippusb._tcp</string>
		<string>_ippusb._tcp</string>
		<string>_dpap._tcp</string>
		<string>_eppc._tcp</string>
		<string>_esdevice._tcp</string>
		<string>_esfileshare._tcp</string>
		<string>_ewelink._tcp</string>
		<string>_ftp._tcp</string>
		<string>_googlecast._tcp</string>
		<string>_googlezone._tcp</string>
		<string>_hap._tcp</string>
		<string>_home-sharing._tcp</string>
		<string>_homekit._tcp</string>
		<string>_http._tcp</string>
		<string>_https._tcp</string>
		<string>_http-alt._tcp</string>
		<string>_hudson._tcp</string>
		<string>_hue._tcp</string>
		<string>_ica-networking._tcp</string>
		<string>_ichat._tcp</string>
		<string>_ipp._tcp</string>
		<string>_ipps._tcp</string>
		<string>_jenkins._tcp</string>
		<string>_keynotepair._tcp</string>
		<string>_mamp._tcp</string>
		<string>_mediaremotetv._tcp</string>
		<string>_meshcop._udp</string>
		<string>_nfs._tcp</string>
		<string>_ndi._tcp</string>
		<string>_net-assistant._tcp</string>
		<string>_nmea-0183._tcp</string>
		<string>_od-master._tcp</string>
		<string>_odisk._tcp</string>
		<string>_presence._tcp</string>
		<string>_privet._tcp</string>
		<string>_psia._tcp</string>
		<string>_ptp._tcp</string>
		<string>_pulse-server._tcp</string>
		<string>_pulse-sink._tcp</string>
		<string>_pulse-source._tcp</string>
		<string>_tftp._tcp</string>
		<string>_tivo-videos._tcp.</string>
		<string>_uscan._tcp</string>
		<string>_uscans._tcp</string>
		<string>_nvstream._tcp</string>
		<string>_omnistate._tcp</string>
		<string>_pdl-datastream._tcp</string>
		<string>_pgpkey-hkp._tcp</string>
		<string>_photoshopserver._tcp</string>
		<string>_physicalweb._tcp</string>
		<string>_printer._tcp</string>
		<string>_raop._tcp</string>
		<string>_rdlink._tcp</string>
		<string>_readynas._tcp</string>
		<string>_rfb._tcp</string>
		<string>_riousbprint._tcp</string>
		<string>_rsp._tcp</string>
		<string>_sane-port._tcp</string>
		<string>_scanner._tcp</string>
		<string>_sengled._udp</string>
		<string>_servermgr._tcp</string>
		<string>_sftp-ssh._tcp</string>
		<string>_sketchmirror._tcp</string>
		<string>_sleep-proxy._udp</string>
		<string>_smb._tcp</string>
		<string>_spotify-connect._tcp</string>
		<string>_ssh._tcp</string>
		<string>_teamviewer._tcp</string>
		<string>_telnet._tcp</string>
		<string>_wirecastgodirect._tcp</string>
		<string>_withings-aura-bridge._tcp</string>
		<string>_touch-able._tcp</string>
		<string>_tunnel._tcp</string>
		<string>_udisks-ssh._tcp</string>
		<string>_viziocast._tcp</string>
		<string>_webdav._tcp</string>
		<string>_webdavs._tcp</string>
		<string>_workstation._tcp</string>
		<string>_xserveraid._tcp</string>
	</array>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Network usage is required for macOS/iOS communication</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Saving you heatmap to your photo roll.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>ceci est uyn test</string>
	<key>UILaunchStoryboardName</key>
	<string>SpeedTest</string>
	<key>UIMainStoryboardFile</key>
	<string>SpeedTest</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<false/>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string></string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
